body { padding-top: 70px; }

/* navbar */

#navbar { display: none; }
#navbarContainer { display: none; }
#navbarHeader { display: none; }
#navbarLinks { display: none; }

/* hinding headers */
#Articles { display: none; }
#Books { display: none; }
#Albums { display: none; }
#elementSearch {
    color: var(--background-color);
    margin: 1em;
}
.list-group-item{
    background-color: var(--text-color);
}
a.list-group-item {
    color: var(--text-color);
    background-color: var(--background-color);
}
a.list-group-item:hover, a.list-group-item:focus, a.list-group-item:active, a.list-group-item.active, .open>.dropdown-togglea.list-group-item {
    background-color: var(--header-1-color);
    color: var(--text-color);
}
.dropdown-menu > li > a { color: var(--text-color); }
.dropdown-menu > li > a:hover {
    background-color: var(--header-1-color);
    color: var(--text-color);
}
