body { padding-top: 70px; }
#navbar { display: none; }
#navbarContainer { display: none; }
#navbarHeader { display: none; }
#navbarLinks { display: none; }
#Articles { display: none; }
#Books { display: none; }
#Albums { display: none; }
#elementSearch {
    color: black;
    margin: 1em;
}
.album .wannaAlbum .article .book .wannaBook {
    color: #fff;
    background-color: #202020
}
