#content {
    line-height: 10em;
    height: 10em;
    text-align: center;
}
#MainContent {
    font-family: Montserrat, sans-serif;
    font-size: 3em;
    color: #FFF;
}
#text-MainContent {
    line-height: normal;
}
#text-about-me-header-collapse{
    line-height: normal;
    font-size: 2em;
}
#about-me-header-link {
    color: #FFF;
    text-decoration: inherit;
}
#text-about-me-content-text {
    line-height: 1em;
}
#subtitle { font-size: 2em; }
.outline-2 #sec- {
    font-size: 1.4em;
    color: #FFF;
}
.outline-3 {
    line-height: 1.3em;
}
#outline-container-text-email {
    line-height: 1em;
}
#text-email               { display: none; }
#enter                    { display: none; }
#about-me-header          { display: none; }
#about-me-header-collapse { display: none; }
#about-me-content         { display: none; }
#header                   { display: none; }
#footer                   { display: none; }
#outline-container-footer { font-size: 0px; }
#outline-container-header { font-size: 0px; }

@media (max-width:767px) {
    #text-header p{
        line-height: 10em;
        height: 10em;
    }
}
