#content {
    line-height: 10em;
    height: 10em;
    text-align: center;
}
#MainContent {
    font-family: Montserrat, sans-serif;
    font-size: 3em;
    color: #FFF;
}
#text-MainContent {
    line-height: normal;
}
#subtitle { font-size: 2em; }
.outline-2 #sec- {display: none;}
.outline-3 {
    line-height: 5em;
}
#outline-container-text-email {
    line-height: 1em;
}
#text-email { display: none; }
#Blog       { display: none; }
#header     { display: none; }
#footer     { display: none; }
#outline-container-footer { font-size: 0px; }
#outline-container-header { font-size: 0px; }
