html, body {
    font: 400 15px Lato, sans-serif;
    color: #818181;
    height: 100%;
}
#content {
    line-height: 15em;
    height: 15em;
    /* border: 3px solid green; */
    text-align: center;
}
#MainContent {
    font-family: Montserrat, sans-serif;
    font-size: 3em;
}

.outline-2 #sec- {
    display: none;
}
.outline-3 {
    line-height: 5em;
}
#outline-container-header { font-size: 0px; }
#outline-container-header #header{ display: none; }
#outline-container-footer { font-size: 0px; }
#outline-container-footer #footer{ display: none; }
